snippet log "console.log" bA
console.log($0);
endsnippet

snippet func "function"
function ${1:name}(${2:args}) {
	$0
}
endsnippet

snippet imp "import"
import ${1:\{ ${2:something} \}} from '${3:package}';$0
endsnippet
