snippet c "className"
className="$0"
endsnippet

snippet comp "export default function component"
export default function ${1:ComponentName}(${2:\{ ${3:prop} \}}) {
	return (
		<div>
			$0
		</div>
	);
}
endsnippet
